<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag '/login' do %>
  <div class=”field”>
    <%= label_tag :username %>
    <%= text_field_tag :user_name %>
  </div>
  <div class=”actions”>
    <%= submit_tag 'Login' %>
  </div>
<% end %>
