<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="field text-center">
      <%= form.label :name, class: "d-flex row justify-content-center font-weight-bolder m-0 p-0 pb-2" %>
      <%= form.text_field :name, class: "mb-4"%>
    </div>
    <div class="field text-center">
      <%= form.label :image, class: "d-flex row justify-content-center font-weight-bolder m-0 p-0 pb-2" %>
      <%= form.file_field :image, class: "mb-4" %>
    </div>
    <%= form.hidden_field 'user_id', :value => current_user.id %>
  </div>

  <div class="actions d-flex justify-content-center bg-green py-3">
    <%= form.submit "Create New Group", class: "bg-green white-font w-25 font-weight-bolder text-uppercase border-0 p-1" %>
  </div>
<% end %>
