<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <%= image_tag @group.image, :class => 'col-3' %>
  <%= @group.created_at %>

  <% @group.items.each do |i| %>
    </br>
    <tr>
      <td><%= i.name %></td>
      <td><%= i.created_at %></td>
    </tr>
  <% end %>
</p>
