<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.hidden_field 'author_id', :value => current_user.id %>
  <div class="field text-center">
    <%= form.label :name, class: "d-flex row justify-content-center font-weight-bolder m-0 p-0 pb-2" %>
    <%= form.text_field :name %>
  </div>

  <div class="field text-center">
    <%= form.label :amount, class: "d-flex row justify-content-center font-weight-bolder m-0 p-0 pb-2" %>
    <%= form.number_field :amount, class: "mb-4" %>
  </div>

  <div class="actions d-flex justify-content-center bg-green py-3">
    <%= form.submit "Create Item", class: "bg-green white-font w-25 font-weight-bolder text-uppercase border-0 p-1" %>
  </div>
<% end %>
