<!DOCTYPE html>
<html>
  <head>
    <title>GroupsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100">
    <div class="col-2 h-100 p-4 position-fixed bg-blue ml-0 pl-0">
      <p class="font-weight-bolder bg-blue h5"><%= log_or_not[0] %></p></br>
      <%= log_or_not[1] %></br>
      <%= log_or_not[2] %></br>
      <%= log_or_not[3] %></br>
      <%= log_or_not[4] %>
    </div>
      <div class="col-10 px-0 nav-margin">
        <%= yield %>
      </div>
  </body>
</html>
